body{
    background-size: cover;
    padding-bottom: 750px;
}
.heading{
    width: 100%;
    font-size: 25px;
    border-radius: 30px;
}
#note{
    font-size: 15px;
    color: black;
}
canvas{
    border: 2px solid black;
    box-shadow: 5px 5px 5px grey;
}
#play{
    font-size: 20px;
}
#song{
    background-color: tomato;
    color: white;
    width: 15%;
    border-radius: 10px;
    line-height: 2;
}